        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>A propos</h4>
            <p>Comme vous pouvez le voir, le blog est encore un peu vide... je l'ai créé spécialement pour l'occasion ! Je compte y aborder des sujets liées au développement web et à l’apprentissage de celui-ci.  </p>
          </div>
          <div class="sidebar-module">
            <h4>Retrouvez moi sur</h4>
            <ul class="list-unstyled social-links">
              <li>
                <%= link_to("https://github.com/Alexplosion") do %>
                    <%= fa_icon "github x7" %>
                <% end %>
              </li>
             
            </ul>
          </div>
        </div>