<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Mon Book</h1>
      <p class="lead text-muted">Voici quelques projets et petits tests sur lesquels j'ai travaillé. Vous en trouverez plus sur mon GitHub, mais beaucoup d'entre eux sont plus des features, que des apps fonctionnelles. Pour les plus curieux, j'y ai aussi mis un lien vers mon ancien portfolio de concepteur-rédacteur.</p>
      <p>
        <%= mail_to "alex.yam@outlook.fr", "Me contacter", class:"btn btn-primary" %>
        <%= link_to "Github", "https://github.com/Alexplosion", target: :_blank, class:"btn btn-secondary" %>
      </p>
    </div>
</section>