
<div class="app-card-container">
  <div class="card">
    <h1>Parlons un peu de moi...</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "alex.jpg", width: "100%", alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
          <p>
          À première vue, je n'ai pas le profil d'un apprenti développeur : j'ai fait des études de communication, et me suis spécialisé dans la création publicitaire. J'y ai appris à trouver des solutions plus ou moins conventionnelles à tout type de problèmes. Mais surtout, j'y ai découvert l'amour de la création : avec du texte et des images, on peut créer beaucoup de choses !
          Avec du code ? Les possibilités sont illimitées, on s'approche presque du domaine de la magie.
            </p>
            <p>
             Après une formation de 3 mois en développement web Fullstack, j'ai pu apprendre les bases de plusieurs langages et framework : JavaScript, Ruby/Sinatra, Ruby on Rails/Bootstrap, Bulma. Bien sûr, il me reste beaucoup à apprendre, on ne devient pas développeur en 3 mois, et c’est bien pour cela que je me tourne vers vous. 
          </p>
       
      </div>
    </div>
  </div>
</div>