

      

    
     <main role="main" class="inner cover">
      <div class="row">
        <div class="col-md-4">
            <%= image_tag  "moi.jpeg", width: 250, alt:"image of me" %>
        </div>
        <div class="col-md-8">
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor condimentum eros sollicitudin sollicitudin. Cras non ex vitae diam dignissim elementum eleifend ac ligula. Vivamus. </p>
            
        </div>



      </main>

    