<div class="app-card-container">
  <div class="card">
    <h1>Pages#contact</h1>
        <p>Find me in app/views/pages/contact.html.erbLorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor condimentum eros sollicitudin sollicitudin. Cras non ex vitae diam dignissim elementum eleifend ac ligula. Vivamus. /p>
    </div>
</div>