



      

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenue.</h1>
        <p class="lead">Bonjour à toute l'équipe du département Hypermédia. Si vous avez le moindre commentaire à  faire, n'hésitez pas à me contacter !  </p>
        <p class="lead">
          <a href="<%= about_path %>" class="btn btn-lg btn-secondary"> En savoir plus</a>
          <%= mail_to "alex.yam@outlook.fr", "Me contacter", class:"btn btn-lg btn-primary" %>
        </p>
      </main>

    