



      

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenue.</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor condimentum eros sollicitudin sollicitudin. Cras non ex vitae diam dignissim elementum eleifend ac ligula. Vivamus. </p>
        <p class="lead">
          <a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

    